<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name=".Program"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:preserveLegacyExternalStorage="true"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
<!--        <service-->
<!--            android:name=".server.ServerService"-->
<!--            android:enabled="true"-->
<!--            android:label="@string/server"-->
<!--            android:exported="true" />-->

<!--        <activity android:name=".server.ServerActivity"-->
<!--            android:label="@string/server"-->
<!--            android:launchMode="singleTask"-->
<!--            android:screenOrientation="portrait"-->
<!--            android:theme="@style/AppTheme.DefaultActionBar"/>-->
        <activity
            android:name=".AboutActivity"
            android:label="@string/about"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme.DefaultActionBar" />
        <activity
            android:name=".SettingActivity"
            android:label="@string/settings"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme.DefaultActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BookshelfActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ReadingActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Read"
            android:screenOrientation="unspecified" />
        <provider
            android:name=".BookFileProvider"
            android:authorities="com.zyfdroid.epub"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>
    </application>

</manifest>